{% extends 'base.html' %}

{% block title %}
    <title>Лепесток доставка цветов</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Красивая надпись в центре -->
    <div class="text-center mb-5">
        <h1 class="display-4 font-weight-bold" style="color: #333; text-transform: uppercase; letter-spacing: 3px;">
            Лепесток свежие цветы с доставкой
        </h1>
    </div>

    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- Изображение категории -->
                {% if category.image %}
                    <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
                {% else %}
                    <img src="/path/to/default/image.jpg" class="card-img-top" alt="{{ category.name }}">
                {% endif %}
                <div class="card-body">
                    <!-- Название категории -->
                    <h5 class="card-title">{{ category.name }}</h5>
                    <!-- Ссылка на страницу категории -->
                    <a href="{% url 'product_list_by_category' category.slug %}" class="btn btn-primary">Перейти к товарам</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}