{% extends 'flowershop/base.html' %}

{% block title %}
    <title>Лепесток - вход</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Карточка с сообщением -->
                <div class="card text-center">
                    <div class="card-header">
                        Восстановление пароля
                    </div>
                    <div class="card-body">
                        <!-- Основной текст сообщения -->
                        <h5 class="card-title">Ссылка для восстановления пароля отправлена на Ваш email.</h5>
                        <p class="card-text">Пожалуйста, проверьте свою почту и следуйте инструкциям.</p>
                        <!-- Кнопка для возврата на главную страницу -->
                        <a href="/" class="btn btn-primary">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}ck %}